@import "tailwindcss";

:root {
  --font-geist-montserrat: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-geist-montserrat);
}


@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide {
  animation: fadeSlideUp 0.7s ease-out;
}